h1,
ul,
p,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, sans-serif;
}

h1 {
    color: rgb(2, 2, 2);
    text-align: center;
    margin-top: 10%;
}

h3 {
    color: rgb(2, 2, 2);
    font-weight: 500;
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}

ul {
    color: rgb(42, 42, 83);

}

p {
    color: rgb(19, 19, 19);
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 6%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.strong-color {
    color: green;
    font-weight: 350;
}

.texte-apropos strong {
    color: green;
    font-weight: 350;
}

.texte2-apropos {
    text-align: left;
}

.texte2-apropos strong {
    color: black;
}

h2 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 4%;
    font-weight: 550;
    font-size: 20px;
}

h4 {
    color: rgb(69, 69, 139);
}

h5 {
    color: rgb(69, 69, 139);
    font-size: 18px;
    text-align: right;
}

.h6 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    font-weight: 100;
}

.hr {
    width: 90%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.iconwhatsapp {
    color: #1bb600;
    font-size: 20px;
}

.rectangle_gris {
    position: relative;
    background-color: rgb(226, 226, 226);
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 5%;
    margin-top: 6%;
}

.rectangle_gris p {
    margin-top: 5%;
    margin-bottom: 5%;
}

.bouton-don {
    background-color: rgb(21, 111, 255);
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    margin-bottom: 7%;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
}

.bouton-puits {
    background-color: rgb(21, 111, 255);
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    white-space: nowrap;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
}

.texte-image-enfant-bois {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -70%);
    color: aliceblue;
    font-size: 56px;
    text-align: center;
    font-weight: 100;
}

.imageindex img {
    width: 75%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.imageindex {
    display: flex;
    justify-content: center;
    position: relative;
}

.imagepuits {
    display: flex;
    justify-content: center;
}

.imagepuits img {
    width: 25%;
    border-radius: 50%;
}

.imagecolis-puits-maraudes {
    display: flex;
    justify-content: center;
}

.imagecolis-puits-maraudes img {
    width: 90%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.eaulavie p,
.puitsafrique p,
.financer-puits p,
.puitscambodge p {
    padding-bottom: 1%;
    font-size: 18px;
    text-align: left;
}

.eaulavie h2,
.financer-puits h2 {
    font-size: 40px;
    color: rgb(15, 154, 38);
    font-weight: 330;
}

.puitsafrique h2,
.puitscambodge h2 {
    font-size: 33px;
    color: rgb(15, 154, 38);
    font-weight: 330;
}

.nos-missions h2 {
    color: black;
    font-size: 40px;
    font-weight: 80;
}

.image_secuinfo {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.image_secuinfo img {
    width: 520px;
}

.voir-index123 {
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}

.voir-index1,
.voir-index2,
.voir-index3 {
    background-color: rgb(21, 111, 255);
    padding: 10px 15px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    margin-bottom: 7%;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
}


.voir-index123 a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: rgb(20, 139, 230);
}

.images-index123 {
    display: flex;
    padding: 2%;
    gap: 1%;
}

.image123 {
    margin: 0;
    flex: 1;
    position: relative;
    width: 45%;
    padding: 4% 0%;
    font-size: 5em;
    color: #191919;
    text-align: center;
    background: #fff;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10%;
}

.image123::after {
    content: '';
    position: absolute;
    top: -1%;
    left: -1%;
    right: -1%;
    bottom: -1%;
    background: linear-gradient(45deg, #ffae22, #ad00c1, #0076de, #00c807);
    z-index: -1;
    border-radius: 10%;
}

.image123::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: linear-gradient(45deg, #ffae22, #ad00c1, #0076de, #00c807);
    z-index: -2;
    filter: blur(10px);
}

.image123+.image123 {
    margin-left: 1%;
}

.image-item {
    width: 80%;
    vertical-align: top;
}

.image-description {
    margin-top: 4%;
    margin-bottom: -12%;
    background-color: #ffe0b7;
    padding: 7%;
    text-align: center;
    font-size: 27%;
    border-radius: 35px;
}


:root {
    --font-size: 1rem;
}

.light-mode {
    --navbar-color: #222;
    --navbar-bg-color: #fff;
}

.dark-mode {
    --navbar-color: #FFF;
    --navbar-bg-color: #000;
}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.navigation2 {
    font-size: var(--font-size);
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    background: var(--navbar-bg-color);
    color: var(--navbar-color);
}

.navbar__link {
    padding: 0 10px;
}

.navbar__link>a {
    color: var(--navbar-color);
    text-decoration: none;
}

.navbar__logo img {
    display: flex;
    height: 18em;
    font-size: 100%;
}

.navbar__links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    height: calc(100vh - 65px);
    position: absolute;
    position: fixed;
    top: 65px;
    right: 0;
    background: var(--navbar-bg-color);
    transform: translateX(110%);
    transition: all .5s ease-in-out;
    z-index: 999;
}

.show-nav .navbar__links {
    width: 100vw;
    transform: translateX(0);
}

.navbar__link {
    transform: translateX(101%);
    transition: all .5s ease-in-out;
}

.show-nav .navbar__link {
    transform: translateX(0);
}

.navbar__link>a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--navbar-color);
    transition: all .4s ease-in-out;
}

.navbar__link>a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
}

.burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right: 5%;
}

.bar {
    display: block;
    position: fixed;
    width: 55px;
    height: 6px;
    border-radius: 3px;
    background: var(--navbar-color);
    transition: all .5s ease-in-out;
    z-index: 999;
}

.bar::before,
.bar::after {
    content: "";
    width: 55px;
    height: 6px;
    position: absolute;
    left: 0;
    background: var(--navbar-color);
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.bar::before {
    transform: translateY(-12px)
}

.bar::after {
    transform: translateY(12px)
}

.show-nav .bar {
    width: 0;
    background: transparent;
}

.show-nav .bar::before {
    transform: rotate(45deg);
}

.show-nav .bar::after {
    transform: rotate(-45deg);
}


.show-nav .first {
    transition: all 1s ease-out;
}

.show-nav .second {
    transition: all 1.1s ease-out;
}

.show-nav .third {
    transition: all 1.2s ease-out;
}

.show-nav .four {
    transition: all 1.3s ease-out;
}

.show-nav .fifth {
    transition: all 1.4s ease-out;
}

.navbar__link>a::after {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background-color: #ffbd59;
    transition: width .4s;
}

.navbar__link:hover>a::after {
    width: 50%;
}

.liens-utile2-container {
    background-color: #8ae7d7;
    padding: 1%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.liens-utiles2 {
    width: 70%;
    background-color: #fff;
    padding-top: 1px;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.liens-utiles2 a:hover {
    color: #0cbcf2;

}

.liens-utiles2 h2 {
    font-size: 23px;
    margin-bottom: 3%;
}

.liens-utiles2 a {
    text-decoration: none;
    color: #555555;
    display: block;
    text-align: center;
    margin-bottom: 4%;

}

.plan-carteee-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.plan-carteee {
    width: 250px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #555555;
    margin: 15px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.plan-carteee__highlighted {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.plan-carteee__special-text {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background: #ffae34;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.plan-carteee__header {
    padding: 15px;
    background: #0cbcf2;
    color: #ffffff;
}

.plan-carteee__title,
.plan-carteee__summary {
    margin: O;
    text-align: center;
}

.plan-carteee__title {
    font-size: 1.5em;
    font-weight: 400;
    color: #ffffff;
}

.plan-carteee__summary {
    font-size: 1em;
    font-weight: 300;
    color: #ffffff;
}

.plan-carteee__description {
    padding: 25px;
}

.plan-carteee__list {
    padding: 0;
    margin: 0;
}

.plan-carteee__feature {
    list-style: none;
    margin: O;
    padding-left: 10px;
    position: relative;
    font-size: 0.9em;
}

.plan-carteee__feature:not(:last-child) {
    margin-bottom: 0.5em;
}

.plan-carteee__feature::before {
    content: "\2714";
    color: #1bb600;
    left: 0;
}

.plan-carteee__actions {
    padding: 25px;
    border-top: 1px solid #eeeeee;
    display: flex;
    flex-direction: column;
}

.plan-carteee__button {
    display: inline-block;
    margin: 15px auto;
    margin-top: 1%;
    padding: 8px 20px;
    text-decoration: none;
    color: #ffffff;
    background: #ffbd59;
    border-radius: 5px;
    border: 1px solid #0cbcf2;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;
}

.plan-carteee__cost {
    margin: 0;
    text-align: center;
    font-size: 1.6em;
    color: #000000;
}

.plan-carteee__text {
    font-size: 1em;
    text-align: center;
    margin: 0 0 10px 0;
}

.plan-carteee__text2 {
    margin: 0;
    text-align: center;
    font-size: 0.9em;
    color: #000000;
}

.icon-paypal {
    color: #2651b5;
    font-size: 22px;
}

.image123-mobile,
.voir-index1-mobile,
.texte-index-mobile,
.hr-mobile, .plan-carteee-mobile {
    display: none;
}



/*  Small device */
@media screen and (max-width:767.98px) {

    h2 {
        margin-left: 3%;
        margin-right: 3%;
    }

    h3 {
        color: rgb(2, 2, 2);
        font-weight: 500;
        font-size: 30px;
        margin-top: 25%;
        margin-bottom: 7%;
    }

    .nos-missions {
        margin-top: 15%;
        margin-bottom: 10%;
    }

    .hr-mobile {
        display: flex;
        color: #000;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7%;
        margin-top: 15%;

    }

    .navbar__links {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 0;
        height: calc(100vh - 65px);
        position: absolute;
        position: fixed;
        top: 65px;
        right: 0;
        background: var(--navbar-bg-color);
        transform: translateX(110%);
        transition: all .5s ease-in-out;
        z-index: 999;

    }

    .show-nav .navbar__links {

        width: 100vw;
        transform: translateX(0);
    }

    .navbar__link {
        transform: translateX(101%);
        transition: all .5s ease-in-out;
    }

    .show-nav .navbar__link {
        transform: translateX(0);
    }

    .navbar__link>a {
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        color: var(--navbar-color);
        transition: all .4s ease-in-out;
    }

    .navbar__link>a:hover {
        padding-left: 2rem;
        letter-spacing: 5px;
    }

    .navbar__logo img {
        height: 13em;
    }

    .burger {
        display: block;
        position: relative;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
        margin-right: 15px;
    }

    .bar {
        display: block;
        position: fixed;
        width: 35px;
        height: 4px;
        border-radius: 3px;
        background: var(--navbar-color);
        transition: all .5s ease-in-out;
        z-index: 999;
    }

    .bar::before,
    .bar::after {
        content: "";
        width: 35px;
        height: 4px;
        position: absolute;
        left: 0;
        background: var(--navbar-color);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    .bar::before {
        transform: translateY(-12px)
    }

    .bar::after {
        transform: translateY(12px)
    }

    .show-nav .bar {
        width: 0;
        background: transparent;
    }

    .show-nav .bar::before {
        transform: rotate(45deg);
    }

    .show-nav .bar::after {
        transform: rotate(-45deg);
    }

    .show-nav .first {
        transition: all 1s ease-out;
    }

    .show-nav .second {
        transition: all 1.1s ease-out;
    }

    .show-nav .third {
        transition: all 1.2s ease-out;
    }

    .show-nav .four {
        transition: all 1.3s ease-out;
    }

    .show-nav .fifth {
        transition: all 1.4s ease-out;
    }

    .imageindex h6 {
        font-size: 200%;
    }

    .enfant-bois h6 {
        font-size: 200%;
    }

    .financer-puits h2,
    .puitsafrique h2,
    .eaulavie h2,
    .puitscambodge h2 {
        font-size: 1.7em;
        margin-bottom: 6%;
    }

    .financer-puits p,
    .eaulavie p,
    .puitsafrique p,
    .puitscambodge p,
    .rectangle_gris p,
    .àpropos p,
    .texte-apropos p,
    .texte2-apropos p {
        font-size: 1em;
    }

    .images-index123 {
        display: flex;
        padding: 2%;
        gap: 1%;
    }


    .image123-mobile {
        display: flex;
    }

    .image123 {
        margin: 20%;
        flex: 1;
        width: 45%;
        padding: 7% 0%;
        font-size: 5em;
        color: #191919;
        text-align: center;
        background: #fff;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 10%;
    }

    .image123::after {
        content: '';
        position: absolute;
        top: -1%;
        left: -1%;
        right: -1%;
        bottom: -1%;
        background: linear-gradient(45deg, #ffae22, #ad00c1, #0076de, #00c807);
        z-index: -1;
        border-radius: 10%;
    }

    .image123::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        background: linear-gradient(45deg, #ffae22, #ad00c1, #0076de, #00c807);
        z-index: -2;
        filter: blur(10px);
    }

    .image123+.image123 {
        margin-left: 1%;
    }

    .image-item {
        width: 80%;
        vertical-align: top;
    }

    .image-description {
        margin-top: 5%;
        background-color: #ffffff;
        padding: 7%;
        text-align: center;
        font-size: 27%;
        border-radius: 35px;
    }

    .voir-index1-mobile {
        background-color: rgb(21, 111, 255);
        padding: 10px 15px;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        margin-top: 7%;
        border-radius: 15px;
        font-family: Helvetica, sans-serif;
    }

    .voir-index1-mobile a {
        color: aliceblue;
        text-decoration: none;
    }

    .texte-index-mobile {
        display: flex;
        justify-content: center;
        color: rgb(19, 19, 19);
        font-weight: 350;
        font-size: 18px;
        margin-top: 5%;
        margin-bottom: 2%;
        text-align: center;
        background-color: rgb(238, 238, 238);
        width: 100%;
    }

    .texte-index-mobile p {
        margin-top: 7%;
        margin-bottom: 7%;
    }

    a:hover {
        color: rgb(20, 139, 230);
    }

    .imagepuits img {
        width: 35%;
        border-radius: 50%;
    }

    .iconwhatsapp {
        color: #1bb600;
        font-size: 22px;
    }

    .liens-utile2-container {
        background-color: #8ae7d7;
        padding: 5%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .liens-utiles2 {
        width: 70%;
        background-color: #fff;
        padding-top: 1px;
        padding-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
    }

    .liens-utiles2 a:hover {
        color: #0cbcf2;

    }

    .liens-utiles2 h2 {
        font-size: 23px;
        margin-bottom: 3%;
    }

    .liens-utiles2 a {
        text-decoration: none;
        color: #555555;
        display: block;
        text-align: center;
        margin-bottom: 4%;

    }

    .plan-carteee-mobile {
        display: flex;
        justify-content: center;
    }

    .plan-carteee {
        width: 250px;
        border-radius: 25px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #555555;
        margin: 15px;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .plan-carteee__highlighted {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        transform: scale(1.05);
    }

    .plan-carteee__special-text {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
        background: #ffae34;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    }

    .plan-carteee__header {
        padding: 15px;
        background: #0cbcf2;
        color: #ffffff;
    }

    .plan-carteee__title,
    .plan-carteee__summary {
        margin: O;
        text-align: center;
    }

    .plan-carteee__title {
        font-size: 1.5em;
        font-weight: 400;
        color: #ffffff;
    }

    .plan-carteee__summary {
        font-size: 1em;
        font-weight: 300;
        color: #ffffff;
    }

    .plan-carteee__description {
        padding: 25px;
    }

    .plan-carteee__list {
        padding: 0;
        margin: 0;
    }

    .plan-carteee__feature {
        list-style: none;
        margin: O;
        padding-left: 10px;
        position: relative;
        font-size: 0.9em;
    }

    .plan-carteee__feature:not(:last-child) {
        margin-bottom: 0.5em;
    }

    .plan-carteee__feature::before {
        content: "\2714";
        color: #1bb600;
        left: 0;
    }

    .plan-carteee__actions {
        padding: 25px;
        border-top: 1px solid #eeeeee;
        display: flex;
        flex-direction: column;
    }

    .plan-carteee__button {
        display: inline-block;
        margin: 15px auto;
        margin-top: 1%;
        padding: 8px 20px;
        text-decoration: none;
        color: #ffffff;
        background: #ffbd59;
        border-radius: 5px;
        border: 1px solid #0cbcf2;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        font-weight: bold;
    }

    .plan-carteee__cost {
        margin: 0;
        text-align: center;
        font-size: 1.6em;
        color: #000000;
    }

    .plan-carteee__text {
        font-size: 1em;
        text-align: center;
        margin: 0 0 10px 0;
    }

    .plan-carteee__text2 {
        margin: 0;
        text-align: center;
        font-size: 0.9em;
        color: #000000;
    }

    
    .imageindex,
    .images-index123,
    .voir-index123, .plan-carteee-container  {
        display: none;
    }


}